@import "../../../_utils/mixins.scss";

.header {
  position: fixed;
  z-index: 10;
  top: 40px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 48px;
  width: 100%;
  backdrop-filter: blur(5px);

  &__logo {
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__right-side {
    display: flex;
    gap: 24px;
  }

  &__search {
    position: relative;
    height: 48px;
    backdrop-filter: blur(20px);
    border-radius: 12px;
    border: 1px solid #FAFAFA;
    max-width: 344px;
    min-width: 250px;

    @include onMobile {
      display: none;
    }

    &-icon {
      position: absolute;
      left: 16px;
      top: 50%;
      transform: translateY(-50%);
    }

    &-input {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      border: none;
      background: transparent;
      color: #181818;
      font-size: 16px;
      padding: 0 16px 0 52px;
      outline: none;
  
      &:focus {
        outline: none;
      }
    }
  }

  &__profile,
  &__bag {
    height: 48px;
    width: 48px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(20px);
    border: 1px solid #FAFAFA;
  }
}
