@import "../../../_utils/mixins.scss";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &--link {
    text-decoration: none;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 136px;
    height: 48px;
    border-radius: 12px;
    color: #e8e8e8;
    font-size: 16px;
    background-color: #181818;
    border: none;
    font-weight: 700;
    letter-spacing: 0.5px;
    opacity: 0.9;
    transition: all 0.5s ease-out;

    &:hover {
      opacity: 1;
    }
  }

  &--category {
    background-color: transparent;
    color: #181818;
    border-radius: 36px;
    padding: 13px 24px;
    font-weight: 700;
    transition: all 0.5s ease-out;
    border: 1px solid #181818;

    @include onTablet {
      padding: 10px 20px;
    }

    &--selected {
      background-color: #181818;
      color: #e8e8e8;
    }

    &:hover {
      background-color: #181818;
      color: #e8e8e8;
    }
  }

  &--category-footer {
    background-color: #181818;
    text-decoration: none;
    border-radius: 36px;
    padding: 13px 24px;
    font-weight: 700;
    transition: all 0.5s ease-out;
    border: 1px solid #F2F2F2;

    @include onTablet {
      padding: 10px 20px;
    }

    &:hover {
      opacity: 0.5;
    }
  }
}
