@import '../../../_utils//mixins.scss';

.product-card {
  width: 312px;
  height: 392px;
  padding: 24px;

  @include onMobile {
    width: 100%;
    height: auto;
    padding: 10px;
  }

  &__inner {
    position: relative;
    top: 0;
    left: 0;
  }

  &__title {
    position: absolute;
    left: 6px;
    color: #1a1a1a;

    span {
      display: block;
    }

    &-descr {
      font-size: 24px;
      margin-bottom: 12px;
      font-weight: 900;
    }

    &-price {
      font-size: 16px;
    }
  }

  &__img {
    display: block;
    width: 100%;
    object-fit: contain;
  }

  &__link {
    text-decoration: none;
    color: #e8e8e8;
  }
}
