.product-card {
  flex-grow: 1;
  max-width: 33%;
  display: flex;
  justify-content: center;

  &__wrapper {
    width: 312px;
    height: 392px;
    padding: 24px;
  }

  &__inner {
    position: relative;
    top: 0;
    left: 0;
  }

  &__title {
    position: absolute;
    left: 6px;
    color: #1a1a1a;
    
    span {
      display: block;
    }

    &-descr {
      font-size: 24px;
      margin-bottom: 12px;
      font-weight: 900;
    }

    &-price {
      font-size: 16px;
    }
  }

  &__img {
    width: 100%;
    object-fit: contain;
  }
}
