.get-phone {
  margin: 0 auto;
  padding-top: 42px;
  margin-bottom: 80px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    &-link {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #181818;
    }
  }

  &__title {
    font-size: 36px;
    font-weight: 400;

    &--bold {
      font-weight: 900;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;

    &-item {
      flex-grow: 1;
      max-width: 50%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
