@import "../../../../_utils/mixins.scss";

.nav {

  &-burger {
    display: none;
    @include onTablet {
      background-color: transparent;
      width: 40px;
      height: 40px;
      display: flex;
      flex-direction: column;
      border: none;
      justify-content: space-around;
      cursor: pointer;
      padding: 5px;

      &_1 {
        width: 100%;
        height: 1px;
        border: 1px solid #181818;
      }

      &_2 {
        width: 75%;
        height: 1px;
        border: 1px solid #181818;
        transition: all 0.5s;

        &-close {
          width: 100%;
        }
      }

      &_3 {
        width: 50%;
        height: 1px;
        border: 1px solid #181818;
        transition: all 0.5s;

        &-close {
          width: 100%;
        }
      }
    }
  }

  &-list {
    list-style: none;
    display: flex;
    gap: 24px;

    @include onTablet {
      font-weight: 700;
      transition: all 0.5s;
      transform: translateX(-110%);
      position: absolute;
      flex-direction: column;
      top: 50px;
      height: 100vh;
      width: 60%;
      left: 0;
      padding: 30px;
      background: transparent;
      
    }

    &--show {
      transition: all 0.5s;
      transform: translateX(0%);
    }

    @include onMobile {
      width: 80%;
    }

    &__item {
      line-height: 18px;
      transition: all 0.5s;

      &:hover {
        position: relative;
        top: -2px;

        @include onTablet {
          top: 0;
        }
      }
    }

    &__link {
      text-decoration: none;
      color: #464646;
      padding: 5px;
      transition: all 0.5s;

      @include onTablet {
        font-size: 20px;
      }

      &--active {
        font-weight: 900;
      }
    }
  }
}
